<h1>Welcome !</h1>
<nav class="nav-bar">
  <a href="/cycle-routes">Cycle Routes List</a><br>
  <a href="/cycle-routes/create">Add a New Cycle Route</a><br>
  <a href="/movies/create">Add a New Movie</a>
</nav>