body {
  padding: 50px;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
  text-decoration: none;
  font-size: 1.5em;
}

form {
  margin: 30px auto;
  width: 380px;
}

form label {
  color: #666;
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}

form input,
form button {
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  padding: 4px;
  width: 100%;
  margin-bottom: 20px;
}

form button {
  background: #43a3e6;
  border: 1px solid #43a3e6;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 7px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s ease background;
  width: 100%;
}

form button:hover {
  background: #fff;
  color: #43a3e6;
  transition: 0.3s ease background;
}

.error {
  background: #f02b63;
  box-sizing: border-box;
  color: #fff;
  margin: 20px auto;
  padding: 20px;
  width: 100%;
}

ul {
  border-bottom: 2px solid #43a3e6;
  height: 30px;
  padding: 2em 0;
  list-style-type: none;
}

ul li {
  line-height: 18px;
}

#to-right, #signup-in {
  padding: 1em;
  float: right;
}

#to-right span #signup-in {
  color: #43a3e6;
  font-size: 1.5em;
}

#form h2 {
  display: flex;
  justify-content: center;
}

#to-left {
  display:flex;
  flex-direction: row;
  align-items: flex-end;
  margin-bottom: -3rem;
}

#to-left img{
  width:5%;
}

#to-left p a {
  color: #43a3e6;
  font-weight: bold;
  font-size: 2em;
  margin-left: 0.5em;
}

#logout-form {
  display: inline;
}

#logout-form button, #delete-btn {
  width: 100px;
}

.posts {
  display: flex;
  align-items: center;
  flex-direction: row;  
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.posts img,  .details img, .profile-post img{
  width: 60vh;
}

.postsInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
}

#delete-form {
  float: left;
  margin-top: 2vh;
}

#index {
  background-image: url('/images/bike-wallpaper.jpg');
  height:60vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#index h1{
  color: white;
  margin:2vh;
}

#index {
  padding:4vh;
}
