<h1>Cycle Routes</h1>
<h3>Click on the cycle route to check the details</h3>
<section class="posts">
{{#each posts}}
<div class="postsInfo">
<img src="{{imageUrl}}" alt='{{post.title}}'/><br>
<h3>{{this.title}}</h3>
<a href="/posts/{{_id}}/details">See more</a>
</div>
{{/each}}
</section>